{% extends 'medication/base.html' %}

{% block content %}
<h2>Meus Medicamentos</h2>

<a href="{% url 'add_medication' %}">
    <button>➕ Adicionar medicamento</button>
</a>

<br><br>

{% if medications %}
    {% for med in medications %}
        <div class="card">
            <strong>{{ med.name }}</strong><br>
            Dosagem: {{ med.dosage }}<br>
            Horário: {{ med.time|time:"H:i" }}<br>
            Início: {{ med.begin }}<br>
            Fim: {{ med.end }}<br><br>

            <form action="{% url 'delete_medication' med.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">🗑️ Deletar</button>
            </form>
        </div>
        <br>
    {% endfor %}
{% else %}
    <p>Nenhum medicamento cadastrado.</p>
{% endif %}

{% endblock %}
